.cardAccount {
    justify-content: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    box-shadow: 3px 1px 10px 5px rgb(60, 58, 58);
}

.account-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.sectionAccount {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.backgroundCard {
    background: #063664;
}

.img-display{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 0 auto;
}

@media (max-width:350px){
    .imageAccount{
        display: none;
    }
}

@media (min-width:140px) and (max-width:280px){
    .backgroundCard{
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .card-body{
        padding: 1rem;
        padding-left: 0;
    }
}

@media (max-width: 767px){
    .account-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

        .img-display {
            height: 250px;
            width: 250px;
            margin: 20px auto 0;
        }
}